.convex-panel-context-menu {
  user-select: none;
}

.convex-panel-context-menu-item {
  transition: background-color 0.2s;
}

.convex-panel-context-menu-item:hover {
  background-color: #444;
}

.convex-panel-context-menu-item:active {
  background-color: #555;
} 